## Swan Consulting Feature engineering and Model Creation 

In this workbook, we will explore and engineer the features from our Swan Consulting Customer Dataset, then move onto create a DecisionTreeClassifier and evaluate it's performance

In [139]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt, seaborn as sns

from sklearn.model_selection import train_test_split

from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, BaggingClassifier 
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.metrics import confusion_matrix, accuracy_score

In [140]:
def apr(y_pred, y_real):
    accuracy = metrics.accuracy_score(y_real, y_pred)
    precision = metrics.precision_score(y_real, y_pred)
    recall = metrics.recall_score(y_real, y_pred)
    f1 = metrics.f1_score(y_real, y_pred)
    
    print(f"Accuracy:{accuracy}")
    print(f"Precision:{precision}")
    print(f"Recall:{recall}")
    print(f"F1:{f1}")

## Data Import and Exploration

In [141]:
swan_og = pd.read_excel("/Users/zachgolant/Desktop/DF/1 - Project Data.xlsx")
swan = swan.copy()
swan.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,Competitor had better devices

In [142]:
swan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 31 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         7032 non-null   object
 1   Count              7032 non-null   int64
 2   Country            7032 non-null   object
 3   State              7032 non-null   object
 4   City               7032 non-null   object
 5   Zip Code           7032 non-null   int64
 6   Lat Long           7032 non-null   object
 7   Latitude           7032 non-null   float64
 8   Longitude          7032 non-null   float64
 9   Gender             7032 non-null   object
 10  Senior Citizen     7032 non-null   object
 11  Partner            7032 non-null   object
 12  Dependents         7032 non-null   object
 13  Tenure Months      7032 non-null   int64
 14  Phone Service      7032 non-null   object
 15  Multiple Lines     7032 non-null   object
 16  Internet Service   7032 non-null   object
 17  Online Security    7032 non-null   object
 18  Online Backup      7032 non-null   object
 19  Device Protection  7032 non-null   object
 20  Tech Support       7032 non-null   object
 21  Streaming TV       7032 non-null   object
 22  Streaming Movies   7032 non-null   object
 23  Contract           7032 non-null   object
 24  Paperless Billing  7032 non-null   object
 25  Payment Method     7032 non-null   object
 26  Monthly Charges    7032 non-null   float64
 27  Total Charges      7032 non-null   object
 28  Churn Label        7032 non-null   object
 29  Churn Value        7032 non-null   int64
 30  Churn Reason       1869 non-null   object
dtypes: float64(3), int64(4), object(24)
memory usage: 1.7+ MB

In [143]:
swan.loc[:,'Tenure Months':'Total Charges']

,Tenure Months,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges
0,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15
1,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65
2,8,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5
3,28,Yes,Yes,Fiber optic,No,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05
4,49,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,72,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Bank transfer (automatic),21.15,1419.4
7039,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5
7040,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9
7041,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45
7042,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5

## Feature Engineering

In [144]:
def yes_no(column):
    x=column
    if x=='Yes':
        return 1
    else:
        return 0
        
products = ['Product dissatisfaction', 'Network reliability', 'Lack of self-service on Website', 'Limited range of services', 'Long distance charges', 'Lack of affordable download/upload speed' ]
swan_services = ['Attitude of support person', 'Attitude of service provider',   'Price too high', 'Service dissatisfaction',  'Extra data charges', 'Poor expertise of phone support', 'Poor expertise of online support']
competitor_services = ['Competitor offered higher download speeds', 'Competitor offered more data', 'Competitor made better offer', 'Competitor had better devices']

def churn_reason(reason):
    if reason in products:
        return 'Issue with products' 
    elif reason in swan_services:
        return 'Issue with Swan Services' 
    elif reason in competitor_services:
        return 'Competitor offered better services'
    else:
        return 'Other'

swan=swan[swan['Total Charges']!=' '] #Some customers are in the database but never actually used the product, also have Tenure=0

In [155]:
feature_eng(swan).columns

Index(['CustomerID', 'Count', 'Country', 'State', 'City', 'Zip Code',
       'Lat Long', 'Latitude', 'Longitude', 'Gender', 'Senior Citizen',
       'Partner', 'Dependents', 'Tenure Months', 'Phone Service',
       'Multiple Lines', 'Online Security', 'Online Backup',
       'Device Protection', 'Tech Support', 'Streaming TV', 'Streaming Movies',
       'Paperless Billing', 'Monthly Charges', 'Total Charges', 'Churn Label',
       'Churn Value', 'Churn Reason', 'Contract_Month-to-month',
       'Contract_One year', 'Contract_Two year',
       'Payment_Bank transfer (automatic)', 'Payment_Credit card (automatic)',
       'Payment_Electronic check', 'Payment_Mailed check', 'Internet_DSL',
       'Internet_Fiber optic', 'Internet_No'],
      dtype='object')

In [145]:
def feature_eng(x):
    df=x.copy()
    yes_no_columns=['Senior Citizen', 'Partner', 'Dependents', 'Phone Service', 'Multiple Lines',
                    'Online Security', 'Online Backup', 'Device Protection', 
                    'Tech Support', 'Streaming TV', 'Streaming Movies', 'Paperless Billing']
    for column in yes_no_columns:
        df[column]=df[column].apply(yes_no) 
    encoding_columns=['Contract','Payment Method', 'Internet Service']
    encoding_prefix=['Contract','Payment', 'Internet']
    df= pd.get_dummies(data=df, 
                       columns=encoding_columns, 
                       prefix=encoding_prefix, 
                       dtype=int)
    df.Gender = df.Gender.map({'Male':0, 'Female':1})

    return df

In [146]:
feature_eng(swan).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 38 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   CustomerID                         7032 non-null   object
 1   Count                              7032 non-null   int64
 2   Country                            7032 non-null   object
 3   State                              7032 non-null   object
 4   City                               7032 non-null   object
 5   Zip Code                           7032 non-null   int64
 6   Lat Long                           7032 non-null   object
 7   Latitude                           7032 non-null   float64
 8   Longitude                          7032 non-null   float64
 9   Gender                             7032 non-null   int64
 10  Senior Citizen                     7032 non-null   int64
 11  Partner                            7032 non-null   int64
 12  Dependents                         7032 non-null   int64
 13  Tenure Months                      7032 non-null   int64
 14  Phone Service                      7032 non-null   int64
 15  Multiple Lines                     7032 non-null   int64
 16  Online Security                    7032 non-null   int64
 17  Online Backup                      7032 non-null   int64
 18  Device Protection                  7032 non-null   int64
 19  Tech Support                       7032 non-null   int64
 20  Streaming TV                       7032 non-null   int64
 21  Streaming Movies                   7032 non-null   int64
 22  Paperless Billing                  7032 non-null   int64
 23  Monthly Charges                    7032 non-null   float64
 24  Total Charges                      7032 non-null   object
 25  Churn Label                        7032 non-null   object
 26  Churn Value                        7032 non-null   int64
 27  Churn Reason                       1869 non-null   object
 28  Contract_Month-to-month            7032 non-null   int64
 29  Contract_One year                  7032 non-null   int64
 30  Contract_Two year                  7032 non-null   int64
 31  Payment_Bank transfer (automatic)  7032 non-null   int64
 32  Payment_Credit card (automatic)    7032 non-null   int64
 33  Payment_Electronic check           7032 non-null   int64
 34  Payment_Mailed check               7032 non-null   int64
 35  Internet_DSL                       7032 non-null   int64
 36  Internet_Fiber optic               7032 non-null   int64
 37  Internet_No                        7032 non-null   int64
dtypes: float64(3), int64(27), object(8)
memory usage: 2.1+ MB

In [147]:
X_train.columns

Index(['Senior Citizen', 'Dependents', 'Tenure Months', 'Online Security',
       'Online Backup', 'Tech Support', 'Streaming TV', 'Streaming Movies',
       'Paperless Billing', 'Monthly Charges', 'Total Charges',
       'Contract_Month-to-month', 'Contract_One year', 'Contract_Two year',
       'Payment_Electronic check', 'Internet_DSL', 'Internet_Fiber optic',
       'Internet_No'],
      dtype='object')

In [148]:
pd.DataFrame(list(zip(feature_cols, list(rf.feature_importances_)))).sort_values(by=[1], ascending= False)

                           0         1
11   Contract_Month-to-month  0.197745
2              Tenure Months  0.166465
16      Internet_Fiber optic  0.114868
10             Total Charges  0.105716
9            Monthly Charges  0.079354
14  Payment_Electronic check  0.069668
1                 Dependents  0.066742
13         Contract_Two year  0.060967
17               Internet_No  0.028318
12         Contract_One year  0.022881
8          Paperless Billing  0.020642
15              Internet_DSL  0.017351
3            Online Security  0.012643
5               Tech Support  0.010586
0             Senior Citizen  0.008558
7           Streaming Movies  0.006711
4              Online Backup  0.005629
6               Streaming TV  0.005156

In [156]:
feature_cols=[
        'Gender', 'Senior Citizen',
       'Partner', 'Dependents', 'Tenure Months', 'Phone Service',
       'Multiple Lines', 'Online Security', 'Online Backup',
       'Device Protection', 'Tech Support', 'Streaming TV', 'Streaming Movies',
       'Paperless Billing', 'Monthly Charges', 'Total Charges','Contract_Month-to-month',
       'Contract_One year', 'Contract_Two year',
       'Payment_Bank transfer (automatic)', 'Payment_Credit card (automatic)',
       'Payment_Electronic check', 'Payment_Mailed check', 'Internet_DSL',
       'Internet_Fiber optic', 'Internet_No']
target='Churn Value'

X_train, X_test, y_train, y_test = train_test_split(feature_eng(swan)[feature_cols], swan[target], test_size = 0.2, random_state = 42)

In [157]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5625 entries, 6030 to 860
Data columns (total 26 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             5625 non-null   int64
 1   Senior Citizen                     5625 non-null   int64
 2   Partner                            5625 non-null   int64
 3   Dependents                         5625 non-null   int64
 4   Tenure Months                      5625 non-null   int64
 5   Phone Service                      5625 non-null   int64
 6   Multiple Lines                     5625 non-null   int64
 7   Online Security                    5625 non-null   int64
 8   Online Backup                      5625 non-null   int64
 9   Device Protection                  5625 non-null   int64
 10  Tech Support                       5625 non-null   int64
 11  Streaming TV                       5625 non-null   int64
 12  Streaming Movies                   5625 non-null   int64
 13  Paperless Billing                  5625 non-null   int64
 14  Monthly Charges                    5625 non-null   float64
 15  Total Charges                      5625 non-null   object
 16  Contract_Month-to-month            5625 non-null   int64
 17  Contract_One year                  5625 non-null   int64
 18  Contract_Two year                  5625 non-null   int64
 19  Payment_Bank transfer (automatic)  5625 non-null   int64
 20  Payment_Credit card (automatic)    5625 non-null   int64
 21  Payment_Electronic check           5625 non-null   int64
 22  Payment_Mailed check               5625 non-null   int64
 23  Internet_DSL                       5625 non-null   int64
 24  Internet_Fiber optic               5625 non-null   int64
 25  Internet_No                        5625 non-null   int64
dtypes: float64(1), int64(24), object(1)
memory usage: 1.2+ MB

## Model Fit and Evaluation

We are going to consider three different classification models for predicting churn risk: Logistic Regression, Random Forest Classifier and Extra Trees Classifier.

In [158]:
rf = RandomForestClassifier(n_estimators=150, max_depth=5, min_samples_split=2)
rf.fit(X_train,y_train)
rf_train_pred=rf.predict(X_train)
apr(rf_train_pred, y_train)
rf_test_pred=rf.predict(X_test)
apr(rf_test_pred, y_test)

Accuracy:0.8099555555555555
Precision:0.7051671732522796
Recall:0.47218453188602444
F1:0.5656237301909793
Accuracy:0.798862828713575
Precision:0.7137404580152672
Recall:0.47341772151898737
F1:0.5692541856925419

In [159]:
et = ExtraTreesClassifier(n_estimators=150, max_depth=5, min_samples_split=3)
et.fit(X_train,y_train)
et_train_pred=et.predict(X_train)
apr(et_train_pred, y_train)
et_pred=et.predict(X_test)
apr(et_pred, y_test)

Accuracy:0.8044444444444444
Precision:0.6844181459566075
Recall:0.4708276797829037
F1:0.5578778135048231
Accuracy:0.7960199004975125
Precision:0.6914893617021277
Recall:0.4936708860759494
F1:0.5760709010339734

As we can see, the best baseline model seems to be Random Forests. Now we can move forwards optimising the model by tuning the hyper parameters and selecting variables.

## Grid Search Optimisation

In [97]:
rf=RandomForestClassifier(n_estimators=50, class_weight= None)
rf_params = {
    'max_depth': [2,4,6,8,10],
    'min_samples_split': [2, 4,6,8,10]
    
}
gs = GridSearchCV(rf, param_grid=rf_params, cv=5, verbose=1)
gs.fit(X_train, y_train)
print(gs.best_score_)
gs.best_params_

Fitting 5 folds for each of 25 candidates, totalling 125 fits
0.8062222222222222

{'max_depth': 6, 'min_samples_split': 2}

In [134]:
rf = RandomForestClassifier(n_estimators=250, 
                            max_depth=6, 
                            min_samples_split=6, 
                            class_weight=None)
rf.fit(X_train,y_train)
rf_train_pred=rf.predict(X_train)
apr(rf_train_pred, y_train)
rf_test_pred=rf.predict(X_test)
apr(rf_test_pred, y_test)

Accuracy:0.8188444444444445
Precision:0.7040358744394619
Recall:0.5325644504748982
F1:0.6064117419853225
Accuracy:0.8052594171997157
Precision:0.7023411371237458
Recall:0.5316455696202531
F1:0.6051873198847262

In [91]:
pd.DataFrame(list(zip(feature_cols, list(rf.feature_importances_)))).sort_values(by=[1])

                                    0         1
0                              Gender  0.000915
19  Payment_Bank transfer (automatic)  0.000954
9                   Device Protection  0.001389
5                       Phone Service  0.001750
2                             Partner  0.002126
22               Payment_Mailed check  0.002264
6                      Multiple Lines  0.002413
20    Payment_Credit card (automatic)  0.002983
8                       Online Backup  0.003479
11                       Streaming TV  0.003513
12                   Streaming Movies  0.004588
1                      Senior Citizen  0.005625
10                       Tech Support  0.011178
7                     Online Security  0.012923
13                  Paperless Billing  0.019815
23                       Internet_DSL  0.019921
17                  Contract_One year  0.025090
25                        Internet_No  0.041153
3                          Dependents  0.058180
21           Payment_Electronic check  0.063808
18                  Contract_Two year  0.066301
14                    Monthly Charges  0.072015
15                      Total Charges  0.076624
24               Internet_Fiber optic  0.108715
4                       Tenure Months  0.174628
16            Contract_Month-to-month  0.217650

In [124]:
swan1.columns

Index(['CustomerID', 'Count', 'Country', 'State', 'City', 'Zip Code',
       'Lat Long', 'Latitude', 'Longitude', 'Gender', 'Senior Citizen',
       'Partner', 'Dependents', 'Tenure Months', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Online Security',
       'Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV',
       'Streaming Movies', 'Contract', 'Paperless Billing', 'Payment Method',
       'Monthly Charges', 'Total Charges', 'Churn Label', 'Churn Value',
       'Churn Reason', 'probability_churn'],
      dtype='object')

## Evaluating Churn Risk

In [138]:
swan1=swan.copy()

swan1['probability_churn']=rf.predict_proba(feature_eng(swan)[feature_cols])[:,1]
top_500_risk=swan1[swan1['Churn Label']=='No']\
        .sort_values(by=['probability_churn'],ascending=False)\
        [['CustomerID','probability_churn']]\
        .head(500)\
        .reset_index(drop=True)
top_500_risk

     CustomerID  probability_churn
0    7577-SWIFR           0.822748
1    4912-PIGUY           0.819728
2    7439-DKZTW           0.817743
3    5542-TBBWB           0.809969
4    1452-VOQCH           0.809040
..          ...                ...
495  2103-ZRXFN           0.474569
496  5144-TVGLP           0.474555
497  3995-WFCSM           0.474498
498  3733-LSYCE           0.474186
499  4815-GBTCD           0.474047

[500 rows x 2 columns]

In [136]:
churn_risk=swan1[['CustomerID','probability_churn']]
churn_risk

      CustomerID  probability_churn
0     3668-QPYBK           0.450782
1     9237-HQITU           0.538769
2     9305-CDSKC           0.458860
3     7892-POOKP           0.268653
4     0280-XJGEX           0.209293
...          ...                ...
7038  2569-WGERO           0.007971
7039  6840-RESVB           0.060649
7040  2234-XADUH           0.068778
7041  4801-JZAZL           0.274500
7042  3186-AJIEK           0.139296

[7032 rows x 2 columns]